*
!.dockerignore
!TurboQuant/
!TurboQuant/Dockerfile
!LegacyQuant/
!LegacyQuant/Dockerfile
!Hermes/
!Hermes/**
!repos/
!repos/llama-cpp-turboquant/
!repos/llama-cpp-turboquant/**
!repos/turboquant_plus/
!repos/turboquant_plus/**
!repos/llama.cpp/
!repos/llama.cpp/**
!repos/hermes-agent/
!repos/hermes-agent/**
